body{
    margin:0;
    padding:0;
    background-image:url("https://hdwallsource.com/img/2018/9/bmw-i8-open-road-background-wallpaper-64652-66844-hd-wallpapers.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    overflow:none;
}
html{
    background-repeat: no-repeat;
    background-size:contain;
    overflow:none;
}

.overlay{
    background:black;
    opacity:1.1;
}

h1{
    text-align:center;
    color:maroon;
    font-size:100px;
}

h2{
    position:relative;
    color:maroon;
    text-align:center;
}
#serv{
    font-size:50px;
    border:2px solid black;
}
.header{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTgnC-zLOp4__Ls9OHsQI1bpDx1enRdYfGxB53o6plapbdBg8xc6A&s");
    height:200px;
    width:300px;
    position:sticky;
    background-repeat: no-repeat;
}

.class{
    color:burlywood;
}

nav ul li{
    display:inline-block;
    padding-right:2px;
    border:2px;
    border-color:black;
    margin-right: 2%;
}

 nav ul li a{
    color:maroon;;
     text-decoration:none;
     text-transform: uppercase;
     border:2px solid black;
     padding:20px;
     background-color: gray;
 }

nav ul{
    text-align:right;
}

nav div p{
    font-size:x-large;
    font-family:"Tinos" sans-serif;
}

h3,h4{
    font-family:"Times New Roman" monospace;
    color:maroon;
    font-size:50px;
}


h5{
    font-family:"Times New Roman" monospace;
    color:black;
    font-size:medium;
}

h4 p{
    font-family:"Tinos" sans-serif;
}

div p{
    font-size:20px;
    font-family: "verdana" sans-serif;
}

table{
   text-align:center;
   padding-left:50px;
}

.one{
    width:200px;
    height:200px; 
}

tr{
    border-collapse:collapse;
    border:2px solid black;
    padding-top:30px;
}

th,td,tr,table{

    border:2px solid black;
    border-collapse: collapse;
    padding-left:50px;
    align-content:center;
    padding-left:100px;
}

tr,th,td{
    height:3px;
    background-color:white;
    color:black;
    padding-left:100px;
}

.image,.image2,.img{
    display:flex;
    padding-left: 100px;
    padding-top: 150px;
    margin-right:20px;
    justify-content: space-between;
    
}
.image{
    padding-top:60px;
}
#image{
    display:flex;
    padding-top: 60px;
    justify-content: space-around;
    padding-right: 40px;

}
.footer{
    border:auto seashell;
     width:100%;
    height:auto;
    justify-content:space-between;
    background-color:rgb(206, 219, 219);
    display:flex;
}
h3 p,h4 p{
    margin-right:30px;
}

.about{
    color:whitesmoke;
    padding-top:30px;
}
#mission,#vision{
    font-size:20px;
    color:black;
}
.spare{
    color:whitesmoke;
    font-size:30px;
}
#table{
    align-self: center;
    background-size:contain;
}
.three{
    display:inline-block;
}
@media screen and (max-width:480px){
    .image,.image2,.img{
        display: flex;
        flex-direction: column;
        width: 100% auto;
        height: auto;
    }
    nav{
        width: 100% auto;
        height: auto;
    }

}
@media screen and (max-width:1024px){
    .image2,.image,.img{
        display: flex;
        flex-direction: column;
        width: 100% auto;
        height: auto;

    }

}
search-from{
    margin-top:16px;
    float:right;
    margin-left:15px;
}
#search button{
    float:right;
    color:black;
    background-color:inherit;
    position:fixed;
    padding:10px;
    border:none;
    font-size:15px;
}