html{
    background:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(https://hdwallsource.com/img/2018/9/bmw-i8-open-road-background-wallpaper-64652-66844-hd-wallpapers.jpg) no-repeat center center/cover;
    /* background-size:cover;
    background-repeat: no-repeat; */
    overflow:none;
    height:auto;
    width:auto;
}

body{
    margin:0;
    overflow:none;
}

.overlay{
    background:rgb(7, 7, 7);
    top:0;
   bottom:0;
   left:0;
   right:0;
   opacity:0.1;
   background-size:contain;
}

h1{
    text-align:center;
    color:maroon;
    font-size:100px;
}

h2{
    position:relative;
    color:maroon;
    text-align:center;
    font-size: 30px;
}
#serv{
    font-size:50px;
    border:2px solid black;
}
.header{
    color:black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image:url("https://bit.ly/356e9Sm");
    height:200px;
    width:300px;
    position:sticky;
    background-repeat: no-repeat;
    /* display:flex;
    justify-content:space-around; */
}


nav ul li{
      display:inline-block;
      padding:auto;
      border:2px;
      border-color:black;
      margin:auto;
    
}

 nav ul li a{
    color:maroon;;
     text-decoration:none;
     text-transform: uppercase;
     border:2px solid black;
     padding:20px;
     background-color:gray; 
 }

nav ul{
    text-align:right;
}

nav div p{
    font-size:x-large;
    font-family:"Tinos" sans-serif;
}

h3,h4{
    font-family:"Tinos" sans-serif;;
    color:maroon;
    font-size:50px;
}



h5{
    font-family:"Times New Roman" monospace;
    color:white;
    font-size:medium;
}


h4 p{
    font-family:"Tinos" sans-serif;
}

div p{
    font-size:20px;
    font-family: "verdana" sans-serif;
}

table{
   text-align:center;
}

.one{
    width:200px;
    height:200px; 
}

tr{
    border-collapse:collapse;
    border:2px solid black;
    padding-top:30px;
}

th,td,tr,table{

    border:2px solid black;
    border-collapse: collapse;
    padding-left:50px;
}

tr,th,td{
    background-color:white;
    height:3px;
}
.image,.image2,.img{
    display:flex;
    padding-left: 100px;
    padding-top: 150px;
    margin-right:20px;
    justify-content: space-between;
    
}
.image{
    padding-top:60px;
}
#image{
    display:flex;
    padding-top: 60px;
    justify-content: space-around;
    padding-right: 40px;

}
.footer{
    border:auto seashell;
    width:100%;
    height:100px;
    background-color: gray;
    padding-top:0px;
    justify-content:space-between;
    display:flex;
}
h3 p,h4 p{
    margin-right:30px;
}

.about{
    color:rgb(8, 8, 8);
}
#mission,#vision{
    font-size:30px;
    color:whitesmoke;
}